.navbar {
  min-height: 2.875rem;
  padding: 1rem;
  background-color: map-get($colors, darkish-blue);
  color: map-get($colors, black);

  &__theme {
    [data-selector="default"] {
      background-color: #0d72ff;
    }
    [data-selector="alt"] {
      background-color: #9b69c6;
    }
    [data-selector="dark"] {
      background-color: #00ab66;
    }
  }
}
