@use 'sass:color' as color;

.button {
  position: relative;
  border-radius: 10px;
  font-family: inherit;
  overflow: hidden;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  color: map-get($colors, white);
  transition: all 0.3s;

  &--link {
    border-block-end: 1px solid;
  }

  &--primary,
  &--secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &--secondary {
    border: 2px solid;
  }

  &--large {
    height: 48px;
    border-radius: 12px;
  }

  &--medium {
    height: 40px;
    border-radius: 12px;
  }

  &--small {
    height: 32px;
    font-size: map-get($font-sizes, 3);
    padding: 0;
    border-radius: 8px;

    > * {
      font-size: inherit;
    }
  }

  &--lock {
    width: 100%;

    sup {
      padding: 0.25rem;
      background: linear-gradient(315deg, #e13019 14.64%, #ec8078 85.36%);
      box-shadow: 0px 0px 6px rgba(232, 66, 44, 0.8);
      border-radius: 1rem;
      display: flex;
    }
  }

  &--disabled {
    background-color: map-get($colors, gray-200) !important;
    color: map-get($colors, gray-400) !important;
    box-shadow: unset !important;
    transition: all 0.3s;
    cursor: not-allowed !important;
  }

  &--spinner {
    margin-inline-start: 0.5rem;
    svg > circle {
      stroke: white;
    }
  }

  &--loading {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0.6;
  }

  &--ripple {
    z-index: 0;
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 700ms ease-in-out;
    background-color: rgba(218, 218, 218, 0.3);
  }

  a {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
  }
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
