.sidebar {
  padding: 1rem;
  background-color: map-get($colors, primary);
  color: map-get($colors, white);

  > div {
    padding-block: 1rem;

    button {
      all: unset;
      position: relative;
      overflow: hidden;
      padding: 0.5rem 0.75rem;
      border-radius: 0.5rem;
      width: 100%;

      &:hover {
        background-color: map-get($colors, white);
        color: map-get($colors, primary);
      }
    }
  }
}
