$colors: (
  bg-color: var(--bg-color, #fff),
  black: var(--black, #000),
  white: var(--white, #fff),
  dark-matter: var(--dark-matter, #000915),
  corn-silk: var(--corn-silk, #fff2df),
  quick-silver: var(--quick-silver, #a6a6a6),
  gray-matter: var(--gray-matter, #d0cecc),
  platinum: var(--platinum, #e7e6e6),
  text-color: var(--text-color, #40454b),
  gray: var(--gray, #717171),
  secondary: var(--secondary, #e8422c),
  primary: var(--primary, #0d72ff),
  mari-gold: var(--mari-gold, #eda224),
  amethyst: var(--amethyst, #9b69c6),
  jade: var(--jade, #00ab66),
  darkish-blue: var(--darkish-blue, #1f2f46),
);

$font-sizes: (
  0: 0.5rem,
  1: 0.625rem,
  // 10px
  2: 0.75rem,
  // 12px
  3: 0.875rem,
  // 14px
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  // 24px
  7: 2rem,
);

$font-weights: (
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
  bold: bold,
);

$grid__cols: 24;

$breakpoints: (
  xxs: 0,
  xs: 399.98px,
  sm: 575.98px,
  md: 767.98px,
  lg: 991.98px,
  xl: 1199.98px,
  xxl: 1365.98px,
  other: "span",
);

$spaceAmounts: (0, 1, 2, 3, 4, 5, 6, 7, 8, auto);

$alignments: (
  "center",
  "space-between",
  "space-around",
  "space-evenly",
  "flex-start",
  "flex-end",
  "stretch"
);

$containProps: (
  "content",
  "inline-size",
  "layout",
  "none",
  "paint",
  "size",
  "strict",
  "style",
  "-moz-initial",
  "inherit",
  "initial",
  "revert",
  "revert-layer",
  "unset"
);

$displayProps: (
  "block",
  "inline-block",
  "inline",
  "flex",
  "grid",
  "inline-flex",
  "inline-grid",
  "table",
  "inline-table",
  "list-item",
  "none",
  "contents"
);

$displayValues: (359.98px, 575.98px, 767.98px, 991.98px, 1199.98px, 1365.98px);

$displayBreakpoints: (xs, sm, md, lg, xl, xxl);

$textAlignments: ("end", "start", "center", "revert");

$flexDirections: ("column", "column-reverse", "row", "row-reverse");

$sizePercents: (100, 80, 75, 50, 25, 33, 0);

$flexStates: ("wrap", "nowrap", "wrap-reverse");

$positions: (relative, absolute, fixed, sticky);

$gaps: (
  0: 0.5,
  1: 1,
  2: 1.5,
  3: 2,
  4: 2.5,
  5: 3,
);
