@import "./utilities";

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  scroll-behavior: smooth !important;
  background-color: map-get($colors, bg-color);
}

a {
  color: inherit;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;

  &::selection {
    background-color: map-get($colors, primary);
    color: #fff;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  contain: paint;
}
