@mixin common-table-styles() {
  border: 1px solid map-get($colors, text-color);
  color: map-get($colors, text-color);

  > div {
    padding-inline: 0.5rem;
    overflow-wrap: break-word;

    &:not(:last-of-type) {
      border-inline-end: 1px solid map-get($colors, text-color);
    }
  }
}

.list {
  &__header {
    @include common-table-styles();
    margin-block-end: 0.5rem;
  }

  &__content {
    @include common-table-styles();

    &:not(:last-of-type) {
      border-block-end: 0;
    }
  }
}
